### Analyzing Chess Tournament Results

Xiaolan Li

# Introduction
In this project, I am going to use regex and data parsing skills to generates a .CSV file with the following information
for each of the chess players from a formatted text file:


Player’s Name, Player’s State, Total Number of Points, Player’s Pre-Rating, and Average Pre Tournament Chess Rating of 
Opponents

# Prepare Data

Import the pandas library and read raw data


Transform the dataframe to string type in order to use regex skills

In [1]:
import pandas as pd
df_orig= pd.read_csv('https://raw.githubusercontent.com/xiaolancara/AIM-5001/master/data/tournamentinfo.txt')
df_orig = df_orig.to_string()
df_orig

'      -----------------------------------------------------------------------------------------\n0     Pair | Player Name                     |Total|Round|Round|Round|Round|Round|Round|Round| \n1     Num  | USCF ID / Rtg (Pre->Post)       | Pts |  1  |  2  |  3  |  4  |  5  |  6  |  7  | \n2     -----------------------------------------------------------------------------------------\n3         1 | GARY HUA                        |6.0  |W  39|W  21|W  18|W  14|W   7|D  12|D   4|\n4        ON | 15445895 / R: 1794   ->1817     |N:2  |W    |B    |W    |B    |W    |B    |W    |\n5     -----------------------------------------------------------------------------------------\n6         2 | DAKSHESH DARURI                 |6.0  |W  63|W  58|L   4|W  17|W  16|W  20|W   7|\n7        MI | 14598900 / R: 1553   ->1663     |N:2  |B    |W    |B    |W    |B    |W    |B    |\n8     -----------------------------------------------------------------------------------------\n9         3 | ADITYA BAJAJ                    |6.0  |L   8|W  61|W  25|W  21|W  11|W  13|W  12|\n10       MI | 14959604 / R: 1384   ->1640     |N:2  |W    |B    |W    |B    |W    |B    |W    |\n11    -----------------------------------------------------------------------------------------\n12        4 | PATRICK H SCHILLING             |5.5  |W  23|D  28|W   2|W  26|D   5|W  19|D   1|\n13       MI | 12616049 / R: 1716   ->1744     |N:2  |W    |B    |W    |B    |W    |B    |B    |\n14    -----------------------------------------------------------------------------------------\n15        5 | HANSHI ZUO                      |5.5  |W  45|W  37|D  12|D  13|D   4|W  14|W  17|\n16       MI | 14601533 / R: 1655   ->1690     |N:2  |B    |W    |B    |W    |B    |W    |B    |\n17    -----------------------------------------------------------------------------------------\n18        6 | HANSEN SONG                     |5.0  |W  34|D  29|L  11|W  35|D  10|W  27|W  21|\n19       OH | 15055204 / R: 1686   ->1687     |N:3  |W    |B    |W    |B    |B    |W    |B    |\n20    -----------------------------------------------------------------------------------------\n21        7 | GARY DEE SWATHELL               |5.0  |W  57|W  46|W  13|W  11|L   1|W   9|L   2|\n22       MI | 11146376 / R: 1649   ->1673     |N:3  |W    |B    |W    |B    |B    |W    |W    |\n23    -----------------------------------------------------------------------------------------\n24        8 | EZEKIEL HOUGHTON                |5.0  |W   3|W  32|L  14|L   9|W  47|W  28|W  19|\n25       MI | 15142253 / R: 1641P17->1657P24  |N:3  |B    |W    |B    |W    |B    |W    |W    |\n26    -----------------------------------------------------------------------------------------\n27        9 | STEFANO LEE                     |5.0  |W  25|L  18|W  59|W   8|W  26|L   7|W  20|\n28       ON | 14954524 / R: 1411   ->1564     |N:2  |W    |B    |W    |B    |W    |B    |B    |\n29    -----------------------------------------------------------------------------------------\n30       10 | ANVIT RAO                       |5.0  |D  16|L  19|W  55|W  31|D   6|W  25|W  18|\n31       MI | 14150362 / R: 1365   ->1544     |N:3  |W    |W    |B    |B    |W    |B    |W    |\n32    -----------------------------------------------------------------------------------------\n33       11 | CAMERON WILLIAM MC LEMAN        |4.5  |D  38|W  56|W   6|L   7|L   3|W  34|W  26|\n34       MI | 12581589 / R: 1712   ->1696     |N:3  |B    |W    |B    |W    |B    |W    |B    |\n35    -----------------------------------------------------------------------------------------\n36       12 | KENNETH J TACK                  |4.5  |W  42|W  33|D   5|W  38|H    |D   1|L   3|\n37       MI | 12681257 / R: 1663   ->1670     |N:3  |W    |B    |W    |B    |     |W    |B    |\n38    -----------------------------------------------------------------------------------------\n39       13 | TORRANCE HENRY JR               |4.5  |W  36|W  27|L   7|D   5|W  33|L   3|W  32|\n40       MI | 15082995 / R: 1666   ->1662     |N:3  |B    |W    |B    |B    |W    |W    |B    |\n41    -----------------------------------------------------------------------------------------\n42       14 | BRADLEY SHAW                    |4.5  |W  54|W  44|W   8|L   1|D  27|L   5|W  31|\n43       MI | 10131499 / R: 1610   ->1618     |N:3  |W    |B    |W    |W    |B    |B    |W    |\n44    -----------------------------------------------------------------------------------------\n45       15 | ZACHARY JAMES HOUGHTON          |4.5  |D  19|L  16|W  30|L  22|W  54|W  33|W  38|\n46       MI | 15619130 / R: 1220P13->1416P20  |N:3  |B    |B    |W    |W    |B    |B    |W    |\n47    -----------------------------------------------------------------------------------------\n48       16 | MIKE NIKITIN                    |4.0  |D  10|W  15|H    |W  39|L   2|W  36|U    |\n49       MI | 10295068 / R: 1604   ->1613     |N:3  |B    |W    |     |B    |W    |B    |     |\n50    -----------------------------------------------------------------------------------------\n51       17 | RONALD GRZEGORCZYK              |4.0  |W  48|W  41|L  26|L   2|W  23|W  22|L   5|\n52       MI | 10297702 / R: 1629   ->1610     |N:3  |W    |B    |W    |B    |W    |B    |W    |\n53    -----------------------------------------------------------------------------------------\n54       18 | DAVID SUNDEEN                   |4.0  |W  47|W   9|L   1|W  32|L  19|W  38|L  10|\n55       MI | 11342094 / R: 1600   ->1600     |N:3  |B    |W    |B    |W    |B    |W    |B    |\n56    -----------------------------------------------------------------------------------------\n57       19 | DIPANKAR ROY                    |4.0  |D  15|W  10|W  52|D  28|W  18|L   4|L   8|\n58       MI | 14862333 / R: 1564   ->1570     |N:3  |W    |B    |W    |B    |W    |W    |B    |\n59    -----------------------------------------------------------------------------------------\n60       20 | JASON ZHENG                     |4.0  |L  40|W  49|W  23|W  41|W  28|L   2|L   9|\n61       MI | 14529060 / R: 1595   ->1569     |N:4  |W    |B    |W    |B    |W    |B    |W    |\n62    -----------------------------------------------------------------------------------------\n63       21 | DINH DANG BUI                   |4.0  |W  43|L   1|W  47|L   3|W  40|W  39|L   6|\n64       ON | 15495066 / R: 1563P22->1562     |N:3  |B    |W    |B    |W    |W    |B    |W    |\n65    -----------------------------------------------------------------------------------------\n66       22 | EUGENE L MCCLURE                |4.0  |W  64|D  52|L  28|W  15|H    |L  17|W  40|\n67       MI | 12405534 / R: 1555   ->1529     |N:4  |W    |B    |W    |B    |     |W    |B    |\n68    -----------------------------------------------------------------------------------------\n69       23 | ALAN BUI                        |4.0  |L   4|W  43|L  20|W  58|L  17|W  37|W  46|\n70       ON | 15030142 / R: 1363   ->1371     |     |B    |W    |B    |W    |B    |W    |B    |\n71    -----------------------------------------------------------------------------------------\n72       24 | MICHAEL R ALDRICH               |4.0  |L  28|L  47|W  43|L  25|W  60|W  44|W  39|\n73       MI | 13469010 / R: 1229   ->1300     |N:4  |B    |W    |B    |B    |W    |W    |B    |\n74    -----------------------------------------------------------------------------------------\n75       25 | LOREN SCHWIEBERT                |3.5  |L   9|W  53|L   3|W  24|D  34|L  10|W  47|\n76       MI | 12486656 / R: 1745   ->1681     |N:4  |B    |W    |B    |W    |B    |W    |B    |\n77    -----------------------------------------------------------------------------------------\n78       26 | MAX ZHU                         |3.5  |W  49|W  40|W  17|L   4|L   9|D  32|L  11|\n79       ON | 15131520 / R: 1579   ->1564     |N:4  |B    |W    |B    |W    |B    |W    |W    |\n80    -----------------------------------------------------------------------------------------\n81       27 | GAURAV GIDWANI                  |3.5  |W  51|L  13|W  46|W  37|D  14|L   6|U    |\n82       MI | 14476567 / R: 1552   ->1539     |N:4  |W    |B    |W    |B    |W    |B    |     |\n83    -----------------------------------------------------------------------------------------\n84       28 | SOFIA ADINA STANESCU-BELLU      |3.5  |W  24|D   4|W  22|D  19|L  20|L   8|D  36|\n85       MI | 14882954 / R: 1507   ->1513     |N:3  |W    |W    |B    |W    |B    |B    |W    |\n86    -----------------------------------------------------------------------------------------\n87       29 | CHIEDOZIE OKORIE                |3.5  |W  50|D   6|L  38|L  34|W  52|W  48|U    |\n88       MI | 15323285 / R: 1602P6 ->1508P12  |N:4  |B    |W    |B    |W    |W    |B    |     |\n89    -----------------------------------------------------------------------------------------\n90       30 | GEORGE AVERY JONES              |3.5  |L  52|D  64|L  15|W  55|L  31|W  61|W  50|\n91       ON | 12577178 / R: 1522   ->1444     |     |W    |B    |B    |W    |W    |B    |B    |\n92    -----------------------------------------------------------------------------------------\n93       31 | RISHI SHETTY                    |3.5  |L  58|D  55|W  64|L  10|W  30|W  50|L  14|\n94       MI | 15131618 / R: 1494   ->1444     |     |B    |W    |B    |W    |B    |W    |B    |\n95    -----------------------------------------------------------------------------------------\n96       32 | JOSHUA PHILIP MATHEWS           |3.5  |W  61|L   8|W  44|L  18|W  51|D  26|L  13|\n97       ON | 14073750 / R: 1441   ->1433     |N:4  |W    |B    |W    |B    |W    |B    |W    |\n98    -----------------------------------------------------------------------------------------\n99       33 | JADE GE                         |3.5  |W  60|L  12|W  50|D  36|L  13|L  15|W  51|\n100      MI | 14691842 / R: 1449   ->1421     |     |B    |W    |B    |W    |B    |W    |B    |\n101   -----------------------------------------------------------------------------------------\n102      34 | MICHAEL JEFFERY THOMAS          |3.5  |L   6|W  60|L  37|W  29|D  25|L  11|W  52|\n103      MI | 15051807 / R: 1399   ->1400     |     |B    |W    |B    |B    |W    |B    |W    |\n104   -----------------------------------------------------------------------------------------\n105      35 | JOSHUA DAVID LEE                |3.5  |L  46|L  38|W  56|L   6|W  57|D  52|W  48|\n106      MI | 14601397 / R: 1438   ->1392     |     |W    |W    |B    |W    |B    |B    |W    |\n107   -----------------------------------------------------------------------------------------\n108      36 | SIDDHARTH JHA                   |3.5  |L  13|W  57|W  51|D  33|H    |L  16|D  28|\n109      MI | 14773163 / R: 1355   ->1367     |N:4  |W    |B    |W    |B    |     |W    |B    |\n110   -----------------------------------------------------------------------------------------\n111      37 | AMIYATOSH PWNANANDAM            |3.5  |B    |L   5|W  34|L  27|H    |L  23|W  61|\n112      MI | 15489571 / R:  980P12->1077P17  |     |     |B    |W    |W    |     |B    |W    |\n113   -----------------------------------------------------------------------------------------\n114      38 | BRIAN LIU                       |3.0  |D  11|W  35|W  29|L  12|H    |L  18|L  15|\n115      MI | 15108523 / R: 1423   ->1439     |N:4  |W    |B    |W    |W    |     |B    |B    |\n116   -----------------------------------------------------------------------------------------\n117      39 | JOEL R HENDON                   |3.0  |L   1|W  54|W  40|L  16|W  44|L  21|L  24|\n118      MI | 12923035 / R: 1436P23->1413     |N:4  |B    |W    |B    |W    |B    |W    |W    |\n119   -----------------------------------------------------------------------------------------\n120      40 | FOREST ZHANG                    |3.0  |W  20|L  26|L  39|W  59|L  21|W  56|L  22|\n121      MI | 14892710 / R: 1348   ->1346     |     |B    |B    |W    |W    |B    |W    |W    |\n122   -----------------------------------------------------------------------------------------\n123      41 | KYLE WILLIAM MURPHY             |3.0  |W  59|L  17|W  58|L  20|X    |U    |U    |\n124      MI | 15761443 / R: 1403P5 ->1341P9   |     |B    |W    |B    |W    |     |     |     |\n125   -----------------------------------------------------------------------------------------\n126      42 | JARED GE                        |3.0  |L  12|L  50|L  57|D  60|D  61|W  64|W  56|\n127      MI | 14462326 / R: 1332   ->1256     |     |B    |W    |B    |B    |W    |W    |B    |\n128   -----------------------------------------------------------------------------------------\n129      43 | ROBERT GLEN VASEY               |3.0  |L  21|L  23|L  24|W  63|W  59|L  46|W  55|\n130      MI | 14101068 / R: 1283   ->1244     |     |W    |B    |W    |W    |B    |B    |W    |\n131   -----------------------------------------------------------------------------------------\n132      44 | JUSTIN D SCHILLING              |3.0  |B    |L  14|L  32|W  53|L  39|L  24|W  59|\n133      MI | 15323504 / R: 1199   ->1199     |     |     |W    |B    |B    |W    |B    |W    |\n134   -----------------------------------------------------------------------------------------\n135      45 | DEREK YAN                       |3.0  |L   5|L  51|D  60|L  56|W  63|D  55|W  58|\n136      MI | 15372807 / R: 1242   ->1191     |     |W    |B    |W    |B    |W    |B    |W    |\n137   -----------------------------------------------------------------------------------------\n138      46 | JACOB ALEXANDER LAVALLEY        |3.0  |W  35|L   7|L  27|L  50|W  64|W  43|L  23|\n139      MI | 15490981 / R:  377P3 ->1076P10  |     |B    |W    |B    |W    |B    |W    |W    |\n140   -----------------------------------------------------------------------------------------\n141      47 | ERIC WRIGHT                     |2.5  |L  18|W  24|L  21|W  61|L   8|D  51|L  25|\n142      MI | 12533115 / R: 1362   ->1341     |     |W    |B    |W    |B    |W    |B    |W    |\n143   -----------------------------------------------------------------------------------------\n144      48 | DANIEL KHAIN                    |2.5  |L  17|W  63|H    |D  52|H    |L  29|L  35|\n145      MI | 14369165 / R: 1382   ->1335     |     |B    |W    |     |B    |     |W    |B    |\n146   -----------------------------------------------------------------------------------------\n147      49 | MICHAEL J MARTIN                |2.5  |L  26|L  20|D  63|D  64|W  58|H    |U    |\n148      MI | 12531685 / R: 1291P12->1259P17  |     |W    |W    |B    |W    |B    |     |     |\n149   -----------------------------------------------------------------------------------------\n150      50 | SHIVAM JHA                      |2.5  |L  29|W  42|L  33|W  46|H    |L  31|L  30|\n151      MI | 14773178 / R: 1056   ->1111     |     |W    |B    |W    |B    |     |B    |W    |\n152   -----------------------------------------------------------------------------------------\n153      51 | TEJAS AYYAGARI                  |2.5  |L  27|W  45|L  36|W  57|L  32|D  47|L  33|\n154      MI | 15205474 / R: 1011   ->1097     |     |B    |W    |B    |W    |B    |W    |W    |\n155   -----------------------------------------------------------------------------------------\n156      52 | ETHAN GUO                       |2.5  |W  30|D  22|L  19|D  48|L  29|D  35|L  34|\n157      MI | 14918803 / R:  935   ->1092     |N:4  |B    |W    |B    |W    |B    |W    |B    |\n158   -----------------------------------------------------------------------------------------\n159      53 | JOSE C YBARRA                   |2.0  |H    |L  25|H    |L  44|U    |W  57|U    |\n160      MI | 12578849 / R: 1393   ->1359     |     |     |B    |     |W    |     |W    |     |\n161   -----------------------------------------------------------------------------------------\n162      54 | LARRY HODGE                     |2.0  |L  14|L  39|L  61|B    |L  15|L  59|W  64|\n163      MI | 12836773 / R: 1270   ->1200     |     |B    |B    |W    |     |W    |B    |W    |\n164   -----------------------------------------------------------------------------------------\n165      55 | ALEX KONG                       |2.0  |L  62|D  31|L  10|L  30|B    |D  45|L  43|\n166      MI | 15412571 / R: 1186   ->1163     |     |W    |B    |W    |B    |     |W    |B    |\n167   -----------------------------------------------------------------------------------------\n168      56 | MARISA RICCI                    |2.0  |H    |L  11|L  35|W  45|H    |L  40|L  42|\n169      MI | 14679887 / R: 1153   ->1140     |     |     |B    |W    |W    |     |B    |W    |\n170   -----------------------------------------------------------------------------------------\n171      57 | MICHAEL LU                      |2.0  |L   7|L  36|W  42|L  51|L  35|L  53|B    |\n172      MI | 15113330 / R: 1092   ->1079     |     |B    |W    |W    |B    |W    |B    |     |\n173   -----------------------------------------------------------------------------------------\n174      58 | VIRAJ MOHILE                    |2.0  |W  31|L   2|L  41|L  23|L  49|B    |L  45|\n175      MI | 14700365 / R:  917   -> 941     |     |W    |B    |W    |B    |W    |     |B    |\n176   -----------------------------------------------------------------------------------------\n177      59 | SEAN M MC CORMICK               |2.0  |L  41|B    |L   9|L  40|L  43|W  54|L  44|\n178      MI | 12841036 / R:  853   -> 878     |     |W    |     |B    |B    |W    |W    |B    |\n179   -----------------------------------------------------------------------------------------\n180      60 | JULIA SHEN                      |1.5  |L  33|L  34|D  45|D  42|L  24|H    |U    |\n181      MI | 14579262 / R:  967   -> 984     |     |W    |B    |B    |W    |B    |     |     |\n182   -----------------------------------------------------------------------------------------\n183      61 | JEZZEL FARKAS                   |1.5  |L  32|L   3|W  54|L  47|D  42|L  30|L  37|\n184      ON | 15771592 / R:  955P11-> 979P18  |     |B    |W    |B    |W    |B    |W    |B    |\n185   -----------------------------------------------------------------------------------------\n186      62 | ASHWIN BALAJI                   |1.0  |W  55|U    |U    |U    |U    |U    |U    |\n187      MI | 15219542 / R: 1530   ->1535     |     |B    |     |     |     |     |     |     |\n188   -----------------------------------------------------------------------------------------\n189      63 | THOMAS JOSEPH HOSMER            |1.0  |L   2|L  48|D  49|L  43|L  45|H    |U    |\n190      MI | 15057092 / R: 1175   ->1125     |     |W    |B    |W    |B    |B    |     |     |\n191   -----------------------------------------------------------------------------------------\n192      64 | BEN LI                          |1.0  |L  22|D  30|L  31|D  49|L  46|L  42|L  54|\n193      MI | 15006561 / R: 1163   ->1112     |     |B    |W    |W    |B    |W    |B    |B    |\n194   -----------------------------------------------------------------------------------------'

We can tell that the text file includes many dash line<br>
Purpose: I will split the data with dash line.

Approach: As we can see, all dash line format is some spaces follow with a lot of dashes and no other information has this kind of format. The pattern should be r'[\s]+[-]+[-]' <br>
After using the regex, the string is transformed into array.

In [2]:
import re
arr_noDashLine = re.split(r'[\s]+[-]+[-]',df_orig)
arr_noDashLine

['',
 '\n0     Pair | Player Name                     |Total|Round|Round|Round|Round|Round|Round|Round| \n1     Num  | USCF ID / Rtg (Pre->Post)       | Pts |  1  |  2  |  3  |  4  |  5  |  6  |  7  | \n2',
 '\n3         1 | GARY HUA                        |6.0  |W  39|W  21|W  18|W  14|W   7|D  12|D   4|\n4        ON | 15445895 / R: 1794   ->1817     |N:2  |W    |B    |W    |B    |W    |B    |W    |\n5',
 '\n6         2 | DAKSHESH DARURI                 |6.0  |W  63|W  58|L   4|W  17|W  16|W  20|W   7|\n7        MI | 14598900 / R: 1553   ->1663     |N:2  |B    |W    |B    |W    |B    |W    |B    |\n8',
 '\n9         3 | ADITYA BAJAJ                    |6.0  |L   8|W  61|W  25|W  21|W  11|W  13|W  12|\n10       MI | 14959604 / R: 1384   ->1640     |N:2  |W    |B    |W    |B    |W    |B    |W    |\n11',
 '\n12        4 | PATRICK H SCHILLING             |5.5  |W  23|D  28|W   2|W  26|D   5|W  19|D   1|\n13       MI | 12616049 / R: 1716   ->1744     |N:2  |W    |B    |W    |B    |W    |B    |B    |\n14',
 '\n15        5 | HANSHI ZUO                      |5.5  |W  45|W  37|D  12|D  13|D   4|W  14|W  17|\n16       MI | 14601533 / R: 1655   ->1690     |N:2  |B    |W    |B    |W    |B    |W    |B    |\n17',
 '\n18        6 | HANSEN SONG                     |5.0  |W  34|D  29|L  11|W  35|D  10|W  27|W  21|\n19       OH | 15055204 / R: 1686   ->1687     |N:3  |W    |B    |W    |B    |B    |W    |B    |\n20',
 '\n21        7 | GARY DEE SWATHELL               |5.0  |W  57|W  46|W  13|W  11|L   1|W   9|L   2|\n22       MI | 11146376 / R: 1649   ->1673     |N:3  |W    |B    |W    |B    |B    |W    |W    |\n23',
 '\n24        8 | EZEKIEL HOUGHTON                |5.0  |W   3|W  32|L  14|L   9|W  47|W  28|W  19|\n25       MI | 15142253 / R: 1641P17->1657P24  |N:3  |B    |W    |B    |W    |B    |W    |W    |\n26',
 '\n27        9 | STEFANO LEE                     |5.0  |W  25|L  18|W  59|W   8|W  26|L   7|W  20|\n28       ON | 14954524 / R: 1411   ->1564     |N:2  |W    |B    |W    |B    |W    |B    |B    |\n29',
 '\n30       10 | ANVIT RAO                       |5.0  |D  16|L  19|W  55|W  31|D   6|W  25|W  18|\n31       MI | 14150362 / R: 1365   ->1544     |N:3  |W    |W    |B    |B    |W    |B    |W    |\n32',
 '\n33       11 | CAMERON WILLIAM MC LEMAN        |4.5  |D  38|W  56|W   6|L   7|L   3|W  34|W  26|\n34       MI | 12581589 / R: 1712   ->1696     |N:3  |B    |W    |B    |W    |B    |W    |B    |\n35',
 '\n36       12 | KENNETH J TACK                  |4.5  |W  42|W  33|D   5|W  38|H    |D   1|L   3|\n37       MI | 12681257 / R: 1663   ->1670     |N:3  |W    |B    |W    |B    |     |W    |B    |\n38',
 '\n39       13 | TORRANCE HENRY JR               |4.5  |W  36|W  27|L   7|D   5|W  33|L   3|W  32|\n40       MI | 15082995 / R: 1666   ->1662     |N:3  |B    |W    |B    |B    |W    |W    |B    |\n41',
 '\n42       14 | BRADLEY SHAW                    |4.5  |W  54|W  44|W   8|L   1|D  27|L   5|W  31|\n43       MI | 10131499 / R: 1610   ->1618     |N:3  |W    |B    |W    |W    |B    |B    |W    |\n44',
 '\n45       15 | ZACHARY JAMES HOUGHTON          |4.5  |D  19|L  16|W  30|L  22|W  54|W  33|W  38|\n46       MI | 15619130 / R: 1220P13->1416P20  |N:3  |B    |B    |W    |W    |B    |B    |W    |\n47',
 '\n48       16 | MIKE NIKITIN                    |4.0  |D  10|W  15|H    |W  39|L   2|W  36|U    |\n49       MI | 10295068 / R: 1604   ->1613     |N:3  |B    |W    |     |B    |W    |B    |     |\n50',
 '\n51       17 | RONALD GRZEGORCZYK              |4.0  |W  48|W  41|L  26|L   2|W  23|W  22|L   5|\n52       MI | 10297702 / R: 1629   ->1610     |N:3  |W    |B    |W    |B    |W    |B    |W    |\n53',
 '\n54       18 | DAVID SUNDEEN                   |4.0  |W  47|W   9|L   1|W  32|L  19|W  38|L  10|\n55       MI | 11342094 / R: 1600   ->1600     |N:3  |B    |W    |B    |W    |B    |W    |B    |\n56',
 '\n57       19 | DIPANKAR ROY                    |4.0  |D  15|W  10|W  52|D  28|W  18|L   4|L   8|\n58       MI | 14862333 / R: 1564   ->1570     |N:3  |W    |B    |W    |B    |W    |W    |B    |\n59',
 '\n60       20 | JASON ZHENG                     |4.0  |L  40|W  49|W  23|W  41|W  28|L   2|L   9|\n61       MI | 14529060 / R: 1595   ->1569     |N:4  |W    |B    |W    |B    |W    |B    |W    |\n62',
 '\n63       21 | DINH DANG BUI                   |4.0  |W  43|L   1|W  47|L   3|W  40|W  39|L   6|\n64       ON | 15495066 / R: 1563P22->1562     |N:3  |B    |W    |B    |W    |W    |B    |W    |\n65',
 '\n66       22 | EUGENE L MCCLURE                |4.0  |W  64|D  52|L  28|W  15|H    |L  17|W  40|\n67       MI | 12405534 / R: 1555   ->1529     |N:4  |W    |B    |W    |B    |     |W    |B    |\n68',
 '\n69       23 | ALAN BUI                        |4.0  |L   4|W  43|L  20|W  58|L  17|W  37|W  46|\n70       ON | 15030142 / R: 1363   ->1371     |     |B    |W    |B    |W    |B    |W    |B    |\n71',
 '\n72       24 | MICHAEL R ALDRICH               |4.0  |L  28|L  47|W  43|L  25|W  60|W  44|W  39|\n73       MI | 13469010 / R: 1229   ->1300     |N:4  |B    |W    |B    |B    |W    |W    |B    |\n74',
 '\n75       25 | LOREN SCHWIEBERT                |3.5  |L   9|W  53|L   3|W  24|D  34|L  10|W  47|\n76       MI | 12486656 / R: 1745   ->1681     |N:4  |B    |W    |B    |W    |B    |W    |B    |\n77',
 '\n78       26 | MAX ZHU                         |3.5  |W  49|W  40|W  17|L   4|L   9|D  32|L  11|\n79       ON | 15131520 / R: 1579   ->1564     |N:4  |B    |W    |B    |W    |B    |W    |W    |\n80',
 '\n81       27 | GAURAV GIDWANI                  |3.5  |W  51|L  13|W  46|W  37|D  14|L   6|U    |\n82       MI | 14476567 / R: 1552   ->1539     |N:4  |W    |B    |W    |B    |W    |B    |     |\n83',
 '\n84       28 | SOFIA ADINA STANESCU-BELLU      |3.5  |W  24|D   4|W  22|D  19|L  20|L   8|D  36|\n85       MI | 14882954 / R: 1507   ->1513     |N:3  |W    |W    |B    |W    |B    |B    |W    |\n86',
 '\n87       29 | CHIEDOZIE OKORIE                |3.5  |W  50|D   6|L  38|L  34|W  52|W  48|U    |\n88       MI | 15323285 / R: 1602P6 ->1508P12  |N:4  |B    |W    |B    |W    |W    |B    |     |\n89',
 '\n90       30 | GEORGE AVERY JONES              |3.5  |L  52|D  64|L  15|W  55|L  31|W  61|W  50|\n91       ON | 12577178 / R: 1522   ->1444     |     |W    |B    |B    |W    |W    |B    |B    |\n92',
 '\n93       31 | RISHI SHETTY                    |3.5  |L  58|D  55|W  64|L  10|W  30|W  50|L  14|\n94       MI | 15131618 / R: 1494   ->1444     |     |B    |W    |B    |W    |B    |W    |B    |\n95',
 '\n96       32 | JOSHUA PHILIP MATHEWS           |3.5  |W  61|L   8|W  44|L  18|W  51|D  26|L  13|\n97       ON | 14073750 / R: 1441   ->1433     |N:4  |W    |B    |W    |B    |W    |B    |W    |\n98',
 '\n99       33 | JADE GE                         |3.5  |W  60|L  12|W  50|D  36|L  13|L  15|W  51|\n100      MI | 14691842 / R: 1449   ->1421     |     |B    |W    |B    |W    |B    |W    |B    |\n101',
 '\n102      34 | MICHAEL JEFFERY THOMAS          |3.5  |L   6|W  60|L  37|W  29|D  25|L  11|W  52|\n103      MI | 15051807 / R: 1399   ->1400     |     |B    |W    |B    |B    |W    |B    |W    |\n104',
 '\n105      35 | JOSHUA DAVID LEE                |3.5  |L  46|L  38|W  56|L   6|W  57|D  52|W  48|\n106      MI | 14601397 / R: 1438   ->1392     |     |W    |W    |B    |W    |B    |B    |W    |\n107',
 '\n108      36 | SIDDHARTH JHA                   |3.5  |L  13|W  57|W  51|D  33|H    |L  16|D  28|\n109      MI | 14773163 / R: 1355   ->1367     |N:4  |W    |B    |W    |B    |     |W    |B    |\n110',
 '\n111      37 | AMIYATOSH PWNANANDAM            |3.5  |B    |L   5|W  34|L  27|H    |L  23|W  61|\n112      MI | 15489571 / R:  980P12->1077P17  |     |     |B    |W    |W    |     |B    |W    |\n113',
 '\n114      38 | BRIAN LIU                       |3.0  |D  11|W  35|W  29|L  12|H    |L  18|L  15|\n115      MI | 15108523 / R: 1423   ->1439     |N:4  |W    |B    |W    |W    |     |B    |B    |\n116',
 '\n117      39 | JOEL R HENDON                   |3.0  |L   1|W  54|W  40|L  16|W  44|L  21|L  24|\n118      MI | 12923035 / R: 1436P23->1413     |N:4  |B    |W    |B    |W    |B    |W    |W    |\n119',
 '\n120      40 | FOREST ZHANG                    |3.0  |W  20|L  26|L  39|W  59|L  21|W  56|L  22|\n121      MI | 14892710 / R: 1348   ->1346     |     |B    |B    |W    |W    |B    |W    |W    |\n122',
 '\n123      41 | KYLE WILLIAM MURPHY             |3.0  |W  59|L  17|W  58|L  20|X    |U    |U    |\n124      MI | 15761443 / R: 1403P5 ->1341P9   |     |B    |W    |B    |W    |     |     |     |\n125',
 '\n126      42 | JARED GE                        |3.0  |L  12|L  50|L  57|D  60|D  61|W  64|W  56|\n127      MI | 14462326 / R: 1332   ->1256     |     |B    |W    |B    |B    |W    |W    |B    |\n128',
 '\n129      43 | ROBERT GLEN VASEY               |3.0  |L  21|L  23|L  24|W  63|W  59|L  46|W  55|\n130      MI | 14101068 / R: 1283   ->1244     |     |W    |B    |W    |W    |B    |B    |W    |\n131',
 '\n132      44 | JUSTIN D SCHILLING              |3.0  |B    |L  14|L  32|W  53|L  39|L  24|W  59|\n133      MI | 15323504 / R: 1199   ->1199     |     |     |W    |B    |B    |W    |B    |W    |\n134',
 '\n135      45 | DEREK YAN                       |3.0  |L   5|L  51|D  60|L  56|W  63|D  55|W  58|\n136      MI | 15372807 / R: 1242   ->1191     |     |W    |B    |W    |B    |W    |B    |W    |\n137',
 '\n138      46 | JACOB ALEXANDER LAVALLEY        |3.0  |W  35|L   7|L  27|L  50|W  64|W  43|L  23|\n139      MI | 15490981 / R:  377P3 ->1076P10  |     |B    |W    |B    |W    |B    |W    |W    |\n140',
 '\n141      47 | ERIC WRIGHT                     |2.5  |L  18|W  24|L  21|W  61|L   8|D  51|L  25|\n142      MI | 12533115 / R: 1362   ->1341     |     |W    |B    |W    |B    |W    |B    |W    |\n143',
 '\n144      48 | DANIEL KHAIN                    |2.5  |L  17|W  63|H    |D  52|H    |L  29|L  35|\n145      MI | 14369165 / R: 1382   ->1335     |     |B    |W    |     |B    |     |W    |B    |\n146',
 '\n147      49 | MICHAEL J MARTIN                |2.5  |L  26|L  20|D  63|D  64|W  58|H    |U    |\n148      MI | 12531685 / R: 1291P12->1259P17  |     |W    |W    |B    |W    |B    |     |     |\n149',
 '\n150      50 | SHIVAM JHA                      |2.5  |L  29|W  42|L  33|W  46|H    |L  31|L  30|\n151      MI | 14773178 / R: 1056   ->1111     |     |W    |B    |W    |B    |     |B    |W    |\n152',
 '\n153      51 | TEJAS AYYAGARI                  |2.5  |L  27|W  45|L  36|W  57|L  32|D  47|L  33|\n154      MI | 15205474 / R: 1011   ->1097     |     |B    |W    |B    |W    |B    |W    |W    |\n155',
 '\n156      52 | ETHAN GUO                       |2.5  |W  30|D  22|L  19|D  48|L  29|D  35|L  34|\n157      MI | 14918803 / R:  935   ->1092     |N:4  |B    |W    |B    |W    |B    |W    |B    |\n158',
 '\n159      53 | JOSE C YBARRA                   |2.0  |H    |L  25|H    |L  44|U    |W  57|U    |\n160      MI | 12578849 / R: 1393   ->1359     |     |     |B    |     |W    |     |W    |     |\n161',
 '\n162      54 | LARRY HODGE                     |2.0  |L  14|L  39|L  61|B    |L  15|L  59|W  64|\n163      MI | 12836773 / R: 1270   ->1200     |     |B    |B    |W    |     |W    |B    |W    |\n164',
 '\n165      55 | ALEX KONG                       |2.0  |L  62|D  31|L  10|L  30|B    |D  45|L  43|\n166      MI | 15412571 / R: 1186   ->1163     |     |W    |B    |W    |B    |     |W    |B    |\n167',
 '\n168      56 | MARISA RICCI                    |2.0  |H    |L  11|L  35|W  45|H    |L  40|L  42|\n169      MI | 14679887 / R: 1153   ->1140     |     |     |B    |W    |W    |     |B    |W    |\n170',
 '\n171      57 | MICHAEL LU                      |2.0  |L   7|L  36|W  42|L  51|L  35|L  53|B    |\n172      MI | 15113330 / R: 1092   ->1079     |     |B    |W    |W    |B    |W    |B    |     |\n173',
 '\n174      58 | VIRAJ MOHILE                    |2.0  |W  31|L   2|L  41|L  23|L  49|B    |L  45|\n175      MI | 14700365 / R:  917   -> 941     |     |W    |B    |W    |B    |W    |     |B    |\n176',
 '\n177      59 | SEAN M MC CORMICK               |2.0  |L  41|B    |L   9|L  40|L  43|W  54|L  44|\n178      MI | 12841036 / R:  853   -> 878     |     |W    |     |B    |B    |W    |W    |B    |\n179',
 '\n180      60 | JULIA SHEN                      |1.5  |L  33|L  34|D  45|D  42|L  24|H    |U    |\n181      MI | 14579262 / R:  967   -> 984     |     |W    |B    |B    |W    |B    |     |     |\n182',
 '\n183      61 | JEZZEL FARKAS                   |1.5  |L  32|L   3|W  54|L  47|D  42|L  30|L  37|\n184      ON | 15771592 / R:  955P11-> 979P18  |     |B    |W    |B    |W    |B    |W    |B    |\n185',
 '\n186      62 | ASHWIN BALAJI                   |1.0  |W  55|U    |U    |U    |U    |U    |U    |\n187      MI | 15219542 / R: 1530   ->1535     |     |B    |     |     |     |     |     |     |\n188',
 '\n189      63 | THOMAS JOSEPH HOSMER            |1.0  |L   2|L  48|D  49|L  43|L  45|H    |U    |\n190      MI | 15057092 / R: 1175   ->1125     |     |W    |B    |W    |B    |B    |     |     |\n191',
 '\n192      64 | BEN LI                          |1.0  |L  22|D  30|L  31|D  49|L  46|L  42|L  54|\n193      MI | 15006561 / R: 1163   ->1112     |     |B    |W    |W    |B    |W    |B    |B    |\n194',
 '']

Purpose: As we can see, the first and the last list are empty, we should delete them.
    
Approach: I will import numpy library and use delete function to delete them.

In [3]:
import numpy as np
arr_noDashLine = np.delete(arr_noDashLine, 0)
arr_noDashLine = np.delete(arr_noDashLine, len(arr_noDashLine)-1)
#arr_noDashLine

Purpose: split the data with '|'

Approach: I will transform the array into series and use split function.

In [4]:
series_noDashLine = pd.Series(arr_noDashLine)
series = series_noDashLine.str.split('|', expand=True)
series

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,\n0 Pair,Player Name,Total,Round,Round,Round,Round,Round,Round,Round,...,USCF ID / Rtg (Pre->Post),Pts,1,2,3,4,5,6,7,\n2
1,\n3 1,GARY HUA,6.0,W 39,W 21,W 18,W 14,W 7,D 12,D 4,...,15445895 / R: 1794 ->1817,N:2,W,B,W,B,W,B,W,\n5
2,\n6 2,DAKSHESH DARURI,6.0,W 63,W 58,L 4,W 17,W 16,W 20,W 7,...,14598900 / R: 1553 ->1663,N:2,B,W,B,W,B,W,B,\n8
3,\n9 3,ADITYA BAJAJ,6.0,L 8,W 61,W 25,W 21,W 11,W 13,W 12,...,14959604 / R: 1384 ->1640,N:2,W,B,W,B,W,B,W,\n11
4,\n12 4,PATRICK H SCHILLING,5.5,W 23,D 28,W 2,W 26,D 5,W 19,D 1,...,12616049 / R: 1716 ->1744,N:2,W,B,W,B,W,B,B,\n14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,\n180 60,JULIA SHEN,1.5,L 33,L 34,D 45,D 42,L 24,H,U,...,14579262 / R: 967 -> 984,,W,B,B,W,B,,,\n182
61,\n183 61,JEZZEL FARKAS,1.5,L 32,L 3,W 54,L 47,D 42,L 30,L 37,...,15771592 / R: 955P11-> 979P18,,B,W,B,W,B,W,B,\n185
62,\n186 62,ASHWIN BALAJI,1.0,W 55,U,U,U,U,U,U,...,15219542 / R: 1530 ->1535,,B,,,,,,,\n188
63,\n189 63,THOMAS JOSEPH HOSMER,1.0,L 2,L 48,D 49,L 43,L 45,H,U,...,15057092 / R: 1175 ->1125,,W,B,W,B,B,,,\n191
64,\n192 64,BEN LI,1.0,L 22,D 30,L 31,D 49,L 46,L 42,L 54,...,15006561 / R: 1163 ->1112,,B,W,W,B,W,B,B,\n194

Purpose: Next, I will use the row 0 as header. 

Approach: I should transform the series to dataframe format again. Then I will use iloc functionto get first row and column functionto set column.

In [5]:
# show all hiden columns
pd.set_option('display.max_columns', None)

df = pd.DataFrame(series)
header = df.iloc[0]
df = df[1:]
df.columns = header
df

,\n0 Pair,Player Name,Total,Round,Round,Round,Round,Round,Round,Round,\n1 Num,USCF ID / Rtg (Pre->Post),Pts,1,2,3,4,5,6,7,\n2
1,\n3 1,GARY HUA,6.0,W 39,W 21,W 18,W 14,W 7,D 12,D 4,\n4 ON,15445895 / R: 1794 ->1817,N:2,W,B,W,B,W,B,W,\n5
2,\n6 2,DAKSHESH DARURI,6.0,W 63,W 58,L 4,W 17,W 16,W 20,W 7,\n7 MI,14598900 / R: 1553 ->1663,N:2,B,W,B,W,B,W,B,\n8
3,\n9 3,ADITYA BAJAJ,6.0,L 8,W 61,W 25,W 21,W 11,W 13,W 12,\n10 MI,14959604 / R: 1384 ->1640,N:2,W,B,W,B,W,B,W,\n11
4,\n12 4,PATRICK H SCHILLING,5.5,W 23,D 28,W 2,W 26,D 5,W 19,D 1,\n13 MI,12616049 / R: 1716 ->1744,N:2,W,B,W,B,W,B,B,\n14
5,\n15 5,HANSHI ZUO,5.5,W 45,W 37,D 12,D 13,D 4,W 14,W 17,\n16 MI,14601533 / R: 1655 ->1690,N:2,B,W,B,W,B,W,B,\n17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,\n180 60,JULIA SHEN,1.5,L 33,L 34,D 45,D 42,L 24,H,U,\n181 MI,14579262 / R: 967 -> 984,,W,B,B,W,B,,,\n182
61,\n183 61,JEZZEL FARKAS,1.5,L 32,L 3,W 54,L 47,D 42,L 30,L 37,\n184 ON,15771592 / R: 955P11-> 979P18,,B,W,B,W,B,W,B,\n185
62,\n186 62,ASHWIN BALAJI,1.0,W 55,U,U,U,U,U,U,\n187 MI,15219542 / R: 1530 ->1535,,B,,,,,,,\n188
63,\n189 63,THOMAS JOSEPH HOSMER,1.0,L 2,L 48,D 49,L 43,L 45,H,U,\n190 MI,15057092 / R: 1175 ->1125,,W,B,W,B,B,,,\n191
64,\n192 64,BEN LI,1.0,L 22,D 30,L 31,D 49,L 46,L 42,L 54,\n193 MI,15006561 / R: 1163 ->1112,,B,W,W,B,W,B,B,\n194

The '\n0 Pair' and '\n1 Num' columns are not we expected.<br>
Purpose: I will seperate one columns into two columns individually and then delete the columns which not contain useful information.

Approach: I will check how the columns looks like, then use split function to split the column with space into two new columns and drop old column.

In [6]:
df.columns

Index(['\n0     Pair ', ' Player Name                     ', 'Total', 'Round',
       'Round', 'Round', 'Round', 'Round', 'Round', 'Round', ' \n1     Num  ',
       ' USCF ID / Rtg (Pre->Post)       ', ' Pts ', '  1  ', '  2  ', '  3  ',
       '  4  ', '  5  ', '  6  ', '  7  ', ' \n2'],
      dtype='object', name=0)

All columns name have a lot of spaces, I will drop all spaces first.

In [7]:
df.columns = df.columns.str.replace(' +', '') 
df.columns

Index(['\n0Pair', 'PlayerName', 'Total', 'Round', 'Round', 'Round', 'Round',
       'Round', 'Round', 'Round', '\n1Num', 'USCFID/Rtg(Pre->Post)', 'Pts',
       '1', '2', '3', '4', '5', '6', '7', '\n2'],
      dtype='object', name=0)

Then I will split the first column into two new columns and drop old one.

In [8]:
# dropping null value columns to avoid errors 
df.dropna(inplace = True) 
  
# new data frame with split value columns 
df[["\n0","Pair"]] = df["\n0Pair"].str.split(" ", n = 1, expand = True) 
df[["\n1","Number"]] = df["\n1Num"].str.split(" ", n = 1, expand = True) 
  
# Dropping old Name columns 
df.drop(columns =["\n0Pair"], inplace = True) 
df.drop(columns =["\n1Num"], inplace = True) 
df

,PlayerName,Total,Round,Round,Round,Round,Round,Round,Round,USCFID/Rtg(Pre->Post),Pts,1,2,3,4,5,6,7,\n2,\n0,Pair,\n1,Number
1,GARY HUA,6.0,W 39,W 21,W 18,W 14,W 7,D 12,D 4,15445895 / R: 1794 ->1817,N:2,W,B,W,B,W,B,W,\n5,\n3,1,\n4,ON
2,DAKSHESH DARURI,6.0,W 63,W 58,L 4,W 17,W 16,W 20,W 7,14598900 / R: 1553 ->1663,N:2,B,W,B,W,B,W,B,\n8,\n6,2,\n7,MI
3,ADITYA BAJAJ,6.0,L 8,W 61,W 25,W 21,W 11,W 13,W 12,14959604 / R: 1384 ->1640,N:2,W,B,W,B,W,B,W,\n11,\n9,3,\n10,MI
4,PATRICK H SCHILLING,5.5,W 23,D 28,W 2,W 26,D 5,W 19,D 1,12616049 / R: 1716 ->1744,N:2,W,B,W,B,W,B,B,\n14,\n12,4,\n13,MI
5,HANSHI ZUO,5.5,W 45,W 37,D 12,D 13,D 4,W 14,W 17,14601533 / R: 1655 ->1690,N:2,B,W,B,W,B,W,B,\n17,\n15,5,\n16,MI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,JULIA SHEN,1.5,L 33,L 34,D 45,D 42,L 24,H,U,14579262 / R: 967 -> 984,,W,B,B,W,B,,,\n182,\n180,60,\n181,MI
61,JEZZEL FARKAS,1.5,L 32,L 3,W 54,L 47,D 42,L 30,L 37,15771592 / R: 955P11-> 979P18,,B,W,B,W,B,W,B,\n185,\n183,61,\n184,ON
62,ASHWIN BALAJI,1.0,W 55,U,U,U,U,U,U,15219542 / R: 1530 ->1535,,B,,,,,,,\n188,\n186,62,\n187,MI
63,THOMAS JOSEPH HOSMER,1.0,L 2,L 48,D 49,L 43,L 45,H,U,15057092 / R: 1175 ->1125,,W,B,W,B,B,,,\n191,\n189,63,\n190,MI
64,BEN LI,1.0,L 22,D 30,L 31,D 49,L 46,L 42,L 54,15006561 / R: 1163 ->1112,,B,W,W,B,W,B,B,\n194,\n192,64,\n193,MI

Finally, I will drop the \n2 , \n1 and \n0 columns which not contained useful information and set the Pair column as index. Also replace the column 'Number' to 'State' and rename Round columns since they are duplicate.

In [9]:
df = df.drop(['\n2','\n1','\n0'],axis = 1)

df = df.set_index('Pair')

df.columns = df.columns.str.replace('Number', 'State') 

#rename Round columns
class renamer():
    def __init__(self):
        self.d = dict()

    def __call__(self, x):
        # return original column name if no duplicate
        if x not in self.d:            
            self.d[x] = 0
            return x
        # return original_index column name if duplicate
        else:     
            self.d[x] += 1
            return "%s_%d" % (x, self.d[x]+1)

df = df.rename(columns=renamer())
df

,PlayerName,Total,Round,Round_2,Round_3,Round_4,Round_5,Round_6,Round_7,USCFID/Rtg(Pre->Post),Pts,1,2,3,4,5,6,7,State
Pair,,,,,,,,,,,,,,,,,,,
1,GARY HUA,6.0,W 39,W 21,W 18,W 14,W 7,D 12,D 4,15445895 / R: 1794 ->1817,N:2,W,B,W,B,W,B,W,ON
2,DAKSHESH DARURI,6.0,W 63,W 58,L 4,W 17,W 16,W 20,W 7,14598900 / R: 1553 ->1663,N:2,B,W,B,W,B,W,B,MI
3,ADITYA BAJAJ,6.0,L 8,W 61,W 25,W 21,W 11,W 13,W 12,14959604 / R: 1384 ->1640,N:2,W,B,W,B,W,B,W,MI
4,PATRICK H SCHILLING,5.5,W 23,D 28,W 2,W 26,D 5,W 19,D 1,12616049 / R: 1716 ->1744,N:2,W,B,W,B,W,B,B,MI
5,HANSHI ZUO,5.5,W 45,W 37,D 12,D 13,D 4,W 14,W 17,14601533 / R: 1655 ->1690,N:2,B,W,B,W,B,W,B,MI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,JULIA SHEN,1.5,L 33,L 34,D 45,D 42,L 24,H,U,14579262 / R: 967 -> 984,,W,B,B,W,B,,,MI
61,JEZZEL FARKAS,1.5,L 32,L 3,W 54,L 47,D 42,L 30,L 37,15771592 / R: 955P11-> 979P18,,B,W,B,W,B,W,B,ON
62,ASHWIN BALAJI,1.0,W 55,U,U,U,U,U,U,15219542 / R: 1530 ->1535,,B,,,,,,,MI
63,THOMAS JOSEPH HOSMER,1.0,L 2,L 48,D 49,L 43,L 45,H,U,15057092 / R: 1175 ->1125,,W,B,W,B,B,,,MI
64,BEN LI,1.0,L 22,D 30,L 31,D 49,L 46,L 42,L 54,15006561 / R: 1163 ->1112,,B,W,W,B,W,B,B,MI

For now, the data is prepared already. Next, I will start extracting player name and total points.

# Extracting player name and total points

### Extract player name

Check what is the PlayerName rows look like.

In [10]:
df.PlayerName.head(10).values

array([' GARY HUA                        ',
       ' DAKSHESH DARURI                 ',
       ' ADITYA BAJAJ                    ',
       ' PATRICK H SCHILLING             ',
       ' HANSHI ZUO                      ',
       ' HANSEN SONG                     ',
       ' GARY DEE SWATHELL               ',
       ' EZEKIEL HOUGHTON                ',
       ' STEFANO LEE                     ',
       ' ANVIT RAO                       '], dtype=object)

As we can see, all full name are combined with A-Z upper letter. Since the expected result should be only the first letter is upper format for each word, I will extarct all full names then transfrom them into the expected result format.

some names have three words such as line 4. so the pattern should be start with A-Z rather than space follow with one or more spaces or - and end with A-Z, which is r'[^\s][A-Z\s-]+[A-Z]+'

In [11]:
# create PlayerName list
PlayerName = []
for n in df.PlayerName:
    name_list = re.findall(r'[^\s][A-Z\s-]+[A-Z]+',n)
    for name in name_list:
        newText = ''
        # Remove space
        val_list = name.split(' ')
        for val in val_list:            
            # Capitalize each list item and merge with ' '
            newText += val.capitalize()+' '
        # Remove space from starting and ending
        newText = newText.strip()
        PlayerName.append(newText)
PlayerName

['Gary Hua',
 'Dakshesh Daruri',
 'Aditya Bajaj',
 'Patrick H Schilling',
 'Hanshi Zuo',
 'Hansen Song',
 'Gary Dee Swathell',
 'Ezekiel Houghton',
 'Stefano Lee',
 'Anvit Rao',
 'Cameron William Mc Leman',
 'Kenneth J Tack',
 'Torrance Henry Jr',
 'Bradley Shaw',
 'Zachary James Houghton',
 'Mike Nikitin',
 'Ronald Grzegorczyk',
 'David Sundeen',
 'Dipankar Roy',
 'Jason Zheng',
 'Dinh Dang Bui',
 'Eugene L Mcclure',
 'Alan Bui',
 'Michael R Aldrich',
 'Loren Schwiebert',
 'Max Zhu',
 'Gaurav Gidwani',
 'Sofia Adina Stanescu-bellu',
 'Chiedozie Okorie',
 'George Avery Jones',
 'Rishi Shetty',
 'Joshua Philip Mathews',
 'Jade Ge',
 'Michael Jeffery Thomas',
 'Joshua David Lee',
 'Siddharth Jha',
 'Amiyatosh Pwnanandam',
 'Brian Liu',
 'Joel R Hendon',
 'Forest Zhang',
 'Kyle William Murphy',
 'Jared Ge',
 'Robert Glen Vasey',
 'Justin D Schilling',
 'Derek Yan',
 'Jacob Alexander Lavalley',
 'Eric Wright',
 'Daniel Khain',
 'Michael J Martin',
 'Shivam Jha',
 'Tejas Ayyagari',
 'Ethan Guo',
 'Jose C Ybarra',
 'Larry Hodge',
 'Alex Kong',
 'Marisa Ricci',
 'Michael Lu',
 'Viraj Mohile',
 'Sean M Mc Cormick',
 'Julia Shen',
 'Jezzel Farkas',
 'Ashwin Balaji',
 'Thomas Joseph Hosmer',
 'Ben Li']

### Extract total points

Check what is the Total rows look like.

In [12]:
df.Total.head(10).values

array(['6.0  ', '6.0  ', '6.0  ', '5.5  ', '5.5  ', '5.0  ', '5.0  ',
       '5.0  ', '5.0  ', '5.0  '], dtype=object)

As we can see, the total point is start with number follow with point '.' and end with number. so the apttern should be r'[0-9\\.]+'

In [13]:
TotalPoint = []
for p in df.Total:
    Total_point_list = re.findall(r'[0-9\.]+',p)
    for point in Total_point_list:
        TotalPoint.append(point)
TotalPoint

['6.0',
 '6.0',
 '6.0',
 '5.5',
 '5.5',
 '5.0',
 '5.0',
 '5.0',
 '5.0',
 '5.0',
 '4.5',
 '4.5',
 '4.5',
 '4.5',
 '4.5',
 '4.0',
 '4.0',
 '4.0',
 '4.0',
 '4.0',
 '4.0',
 '4.0',
 '4.0',
 '4.0',
 '3.5',
 '3.5',
 '3.5',
 '3.5',
 '3.5',
 '3.5',
 '3.5',
 '3.5',
 '3.5',
 '3.5',
 '3.5',
 '3.5',
 '3.5',
 '3.0',
 '3.0',
 '3.0',
 '3.0',
 '3.0',
 '3.0',
 '3.0',
 '3.0',
 '3.0',
 '2.5',
 '2.5',
 '2.5',
 '2.5',
 '2.5',
 '2.5',
 '2.0',
 '2.0',
 '2.0',
 '2.0',
 '2.0',
 '2.0',
 '2.0',
 '1.5',
 '1.5',
 '1.0',
 '1.0',
 '1.0']

# Extract State and pre-tournament rating

### Extract State

Check what is the State rows look like.

In [14]:
df.State.head(10).values

array(['       ON ', '       MI ', '      MI ', '      MI ', '      MI ',
       '      OH ', '      MI ', '      MI ', '      ON ', '      MI '],
      dtype=object)

As we can see, the State is start with A-Z and end with A-Z. so the apttern should be r'[A-Z]+'

In [15]:
State = []
for s in df.State:
    State_list = re.findall(r'[A-Z]+',s)
    for state in State_list:
        State.append(state)
State

['ON',
 'MI',
 'MI',
 'MI',
 'MI',
 'OH',
 'MI',
 'MI',
 'ON',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'ON',
 'MI',
 'ON',
 'MI',
 'MI',
 'ON',
 'MI',
 'MI',
 'MI',
 'ON',
 'MI',
 'ON',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'ON',
 'MI',
 'MI',
 'MI']

### Extract the pre-tournament rating

Check what is the USCFID/Rtg(Pre->Post) rows look like.

In [16]:
df['USCFID/Rtg(Pre->Post)'].head(10).values

array([' 15445895 / R: 1794   ->1817     ',
       ' 14598900 / R: 1553   ->1663     ',
       ' 14959604 / R: 1384   ->1640     ',
       ' 12616049 / R: 1716   ->1744     ',
       ' 14601533 / R: 1655   ->1690     ',
       ' 15055204 / R: 1686   ->1687     ',
       ' 11146376 / R: 1649   ->1673     ',
       ' 15142253 / R: 1641P17->1657P24  ',
       ' 14954524 / R: 1411   ->1564     ',
       ' 14150362 / R: 1365   ->1544     '], dtype=object)

As we can see, the pre-tournament rating is start with number and end with number. However, this pattern will match many items are not our expected so I will set the pattern is start with Capital R follow a mark ':' , space and end with number, which should be r'[R:\s]+[0-9]+' . Then I will extarct only number, which pattern should be r'[0-9]+'

In [17]:
PreTournament_rating = []
for r in df['USCFID/Rtg(Pre->Post)']:
    Rating_list = re.findall(r'[R:]+[\s0-9]+',r)
    for rating in Rating_list:
        RatingNew_list = re.findall(r'[0-9]+',rating)
        for rating_new in RatingNew_list:
            PreTournament_rating.append(rating_new)
            
PreTournament_rating

['1794',
 '1553',
 '1384',
 '1716',
 '1655',
 '1686',
 '1649',
 '1641',
 '1411',
 '1365',
 '1712',
 '1663',
 '1666',
 '1610',
 '1220',
 '1604',
 '1629',
 '1600',
 '1564',
 '1595',
 '1563',
 '1555',
 '1363',
 '1229',
 '1745',
 '1579',
 '1552',
 '1507',
 '1602',
 '1522',
 '1494',
 '1441',
 '1449',
 '1399',
 '1438',
 '1355',
 '980',
 '1423',
 '1436',
 '1348',
 '1403',
 '1332',
 '1283',
 '1199',
 '1242',
 '377',
 '1362',
 '1382',
 '1291',
 '1056',
 '1011',
 '935',
 '1393',
 '1270',
 '1186',
 '1153',
 '1092',
 '917',
 '853',
 '967',
 '955',
 '1530',
 '1175',
 '1163']

# Extract the average pre-tournament rating for each player’s opponents

#### Extract all opponent id List

According to the text file, we can tell the round columns inculdes the opponent id. Lets take the first person as a sample to start calculating.

Check what is the Round rows look like.

In [18]:
df.Round.head(10).values

array(['W  39', 'W  63', 'L   8', 'W  23', 'W  45', 'W  34', 'W  57',
       'W   3', 'W  25', 'D  16'], dtype=object)

In [19]:
df.Round.tail(10).values

array(['L  62', 'H    ', 'L   7', 'W  31', 'L  41', 'L  33', 'L  32',
       'W  55', 'L   2', 'L  22'], dtype=object)

We can see some round do not have opponent, we have to check this situation.

In [20]:
#create the first round opponent id list
round1_ID_List = []
for round_1 in df.Round:    
    OpponentID_list1 = re.findall(r'[0-9]+',round_1)
    # check if the players in that round do not have opponent
    if len(OpponentID_list1) == 0:    
        # append 0 value if do not have opponent since no player id = 0
        round1_ID_List.append('0')
    else:
        # take the value from the list append to the round ID list
        for val in OpponentID_list1:            
            round1_ID_List.append(val)
#create dict to reserve every round opponent ID
dicts = {}
#set the key range from 0 to 6 means round_1 to round_7
keys = range(0,6)
# set the key 1 has value round1_ID_List
dicts[0] = round1_ID_List
# set the key start from 1
i = 1

# use for loop to create the rest round opponent ID list since the round column name has the same format
for round_num in range(2,8):
    # for each round, reset the List to empty.
    round_ID_List = []
    # create the column format
    Round_colName = 'Round_'+ str(round_num)
    for Round_colName in df[Round_colName]:        
        OpponentID_list = re.findall(r'[0-9]+',Round_colName)
        # check if the players in that round do not have opponent
        if len(OpponentID_list) == 0:
            # append 0 value if do not have opponent since no player id = 0
            round_ID_List.append('0')
        else:
            # take the value from the Opponent list append to the round ID list
            for val in OpponentID_list:
                round_ID_List.append(val)
    dicts[i] = round_ID_List
    # add 1 to i into next key
    i+=1
    
print(dicts)

{0: ['39', '63', '8', '23', '45', '34', '57', '3', '25', '16', '38', '42', '36', '54', '19', '10', '48', '47', '15', '40', '43', '64', '4', '28', '9', '49', '51', '24', '50', '52', '58', '61', '60', '6', '46', '13', '0', '11', '1', '20', '59', '12', '21', '0', '5', '35', '18', '17', '26', '29', '27', '30', '0', '14', '62', '0', '7', '31', '41', '33', '32', '55', '2', '22'], 1: ['21', '58', '61', '28', '37', '29', '46', '32', '18', '19', '56', '33', '27', '44', '16', '15', '41', '9', '10', '49', '1', '52', '43', '47', '53', '40', '13', '4', '6', '64', '55', '8', '12', '60', '38', '57', '5', '35', '54', '26', '17', '50', '23', '14', '51', '7', '24', '63', '20', '42', '45', '22', '25', '39', '31', '11', '36', '2', '0', '34', '3', '0', '48', '30'], 2: ['18', '4', '25', '2', '12', '11', '13', '14', '59', '55', '6', '5', '7', '8', '30', '0', '26', '1', '52', '23', '47', '28', '20', '43', '3', '17', '46', '22', '38', '15', '64', '44', '50', '37', '56', '51', '34', '29', '40', '39', '58', '57', '24', '32', '60', '27', '21', '0', '63', '33', '36', '19', '0', '61', '10', '35', '42', '41', '9', '45', '54', '0', '49', '31'], 3: ['14', '17', '21', '26', '13', '35', '11', '9', '8', '31', '7', '38', '5', '1', '22', '39', '2', '32', '28', '41', '3', '15', '58', '25', '24', '4', '37', '19', '34', '55', '10', '18', '36', '29', '6', '33', '27', '12', '16', '59', '20', '60', '63', '53', '56', '50', '61', '52', '64', '46', '57', '48', '44', '0', '30', '45', '51', '23', '40', '42', '47', '0', '43', '49'], 4: ['7', '16', '11', '5', '4', '10', '1', '47', '26', '6', '3', '0', '33', '27', '54', '2', '23', '19', '18', '28', '40', '0', '17', '60', '34', '9', '14', '20', '52', '31', '30', '51', '13', '25', '57', '0', '0', '0', '44', '21', '0', '61', '59', '39', '63', '64', '8', '0', '58', '0', '32', '29', '0', '15', '0', '0', '35', '49', '43', '24', '42', '0', '45', '46'], 5: ['12', '20', '13', '19', '14', '27', '9', '28', '7', '25', '34', '1', '3', '5', '33', '36', '22', '38', '4', '2', '39', '17', '37', '44', '10', '32', '6', '8', '48', '61', '50', '26', '15', '11', '52', '16', '23', '18', '21', '56', '0', '64', '46', '24', '55', '43', '51', '29', '0', '31', '47', '35', '57', '59', '45', '40', '53', '0', '54', '0', '30', '0', '0', '42'], 6: ['4', '7', '12', '1', '17', '21', '2', '19', '20', '18', '26', '3', '32', '31', '38', '0', '5', '10', '8', '9', '6', '40', '46', '39', '47', '11', '0', '36', '0', '50', '14', '13', '51', '52', '48', '28', '61', '15', '24', '22', '0', '56', '55', '59', '58', '23', '25', '35', '0', '30', '33', '34', '0', '64', '43', '42', '0', '45', '44', '0', '37', '0', '0', '54']}

### Extract the pre-tournament rating for each player’s opponents and calculate the avarage opponent pre_rating for each Players

check how many players in the game, and then I will use for loop to extract each opponent id in 7 rounds for every Player from dics. Then extract all pre_rating for each opponent from list PreTournament_rating. Finally caculate the average rating for each Players by using mean function.

In [21]:
print(len(df.PlayerName))

64

In [22]:
# import mean function to calculate average
from statistics import mean
Avg_preRating_Opponents_list = []

for i in range(len(df.PlayerName)):
    preRating_Opponents_list = []
    Eachplayer_Opponent_list = [int(opponent[i]) for opponent in dicts.values()]
    #print(Eachplayer_Opponent_list)
    for f in Eachplayer_Opponent_list:
        if f == 0:
            preRating_Opponents_list.append(0)
        else:
            # use f-1 means index since PreTournament_rating index is from 0
            preRating_Opponents_list.append(int(PreTournament_rating[f-1]))     
            # use int convert double to int type then use str to convert to string type
    Avg_preRating_Opponents_list.append(str(int(mean(preRating_Opponents_list))))
#print(preRating_Opponents_list)

Avg_preRating_Opponents_list

['1605',
 '1469',
 '1563',
 '1573',
 '1500',
 '1518',
 '1372',
 '1468',
 '1523',
 '1554',
 '1467',
 '1291',
 '1497',
 '1515',
 '1483',
 '989',
 '1498',
 '1480',
 '1426',
 '1410',
 '1470',
 '1114',
 '1213',
 '1357',
 '1363',
 '1506',
 '1047',
 '1522',
 '1125',
 '1144',
 '1259',
 '1378',
 '1276',
 '1375',
 '1149',
 '1189',
 '989',
 '1319',
 '1429',
 '1390',
 '713',
 '1149',
 '1106',
 '1137',
 '1152',
 '1357',
 '1392',
 '968',
 '918',
 '1110',
 '1356',
 '1494',
 '576',
 '1033',
 '1205',
 '1010',
 '1168',
 '1192',
 '1130',
 '950',
 '1327',
 '169',
 '964',
 '1263']

For now, all list are prepared. I will collect them to generate csv file for each players.m

# Generate a .CSV file with expected information for each of the chess players

For the last part, I will use for loop to collect all information together and generate the csv files

In [23]:
import csv

for i in range(len(df.PlayerName)):
    info = [PlayerName[i],State[i],TotalPoint[i],PreTournament_rating[i],Avg_preRating_Opponents_list[i]]
    csv_name = PlayerName[i]+'.csv'
    # writing to csv file  
    with open(csv_name, 'w') as csvfile:  
        # creating a csv writer object, set delimiter is ',' and no quote
        csvwriter = csv.writer(csvfile, delimiter=',', quoting=csv.QUOTE_NONE)
        # writing the fields  
        csvwriter.writerow(info) 
        print(info)

In [25]:
# show result on the local path
from IPython.display import Image
Image(filename='C://AI program//(1)data aquisition& Management//ninth week//project_csv_result.jpg')

<IPython.core.display.Image object>
<IPython.core.display.Image object>
<IPython.core.display.Image object>

In [26]:
Image(filename='C://AI program//(1)data aquisition& Management//ninth week//Sample_GaryHua_csv_result.jpg')

<IPython.core.display.Image object>

In [ ]:
Image(filename='C://AI program//(1)data aquisition& Management//ninth week//Sample_DaksheshDaruri_csv_result.jpg')